<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_BaiFo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,168},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>BR_BaiFo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,242},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>BR_BaiFo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>BR_BaiFo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,252},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>BR_BaiFo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,336},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>BR_BaoCou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,92},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>BR_BaoCou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,392},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>BR_BaoCou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>BR_DaXiao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,396},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>BR_DaXiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>BR_DaZhaoHu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,326},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,410},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,326},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,410},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,82},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,82},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,164},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,248},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,332},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_DaZhaoHu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>BR_Daku_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,86},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>BR_Daku_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,170},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>BR_Daku_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,268},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>BR_DeYi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,156},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_DeYi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,238},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_DeYi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,320},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_DeYi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,404},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_DeYi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_DeYi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,392},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>BR_DeYi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,392},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>BR_DeYi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,392},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>BR_DeYi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,156},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BR_FenNu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,88},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>BR_FenNu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,442},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>BR_FenNu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,270},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>BR_Han_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,170},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>BR_Han_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,160},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>BR_JingE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>BR_JingE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,440},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>BR_KeLian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,416},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>BR_KeLian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,416},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>BR_KeLian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,348},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>BR_KeLian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,280},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>BR_Kun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>BR_Kun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>BR_Kun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,356},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>BR_Kun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,86},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>BR_Kun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,182},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>BR_Kun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,172},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>BR_Kun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,270},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>BR_Kun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>BR_Kun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,358},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>BR_MaiMeng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,362},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>BR_MaiMeng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,182},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>BR_MaiMeng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,362},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>BR_MaiMeng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,182},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>BR_QingTianPili_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>BR_QingTianPili_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,254},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>BR_QingTianPili_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_QingTianPili_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_QingTianPili_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,78},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_QingTianPili_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,154},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_aonao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,228},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BR_aonao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,232},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_aonao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,228},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BR_aonao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,306},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BR_aonao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,388},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BR_aonao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,314},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>BR_aonao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,388},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BR_aonao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,72},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>BR_mainBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,321}}</string>
                <key>sourceSize</key>
                <string>{388,321}</string>
            </dict>
            <key>BR_mainBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{358,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,218}}</string>
                <key>sourceSize</key>
                <string>{358,218}</string>
            </dict>
            <key>BR_xiaZuo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{80,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,57}}</string>
                <key>sourceSize</key>
                <string>{80,57}</string>
            </dict>
            <key>BR_xiaZuo_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,86},{80,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,57}}</string>
                <key>sourceSize</key>
                <string>{80,57}</string>
            </dict>
            <key>biaoqingUn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,444},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>biaoqingUn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,340},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>biaoqingUn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,362},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>biaoqingUn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,422},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>biaoqingUn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,416},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>biaoqingUn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,78},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>biaoqingUn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,80},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>biaoqingUn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,88},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>biaoqingUn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,84},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>biaoqingUn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,354},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>biaoqingUn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>biaoqingUn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,142},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>biaoqingUn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,212},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>biaoqingUn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,256},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BiaoQing.png</string>
            <key>size</key>
            <string>{1443,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc43c79e5fa12bd14527d3835d944a1:1/1$</string>
            <key>textureFileName</key>
            <string>BiaoQing.png</string>
        </dict>
    </dict>
</plist>
