<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_guangXiao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{356,341}}</string>
                <key>offset</key>
                <string>{27,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,69},{356,341}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{360,343}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,69},{360,343}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{362,347}}</string>
                <key>offset</key>
                <string>{28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,68},{362,347}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,351}}</string>
                <key>offset</key>
                <string>{27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,66},{366,351}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_JSGuang1.png</string>
            <key>size</key>
            <string>{370,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce6e47785235d17ee7411ba506ef7ab9:1/1$</string>
            <key>textureFileName</key>
            <string>BR_JSGuang1.png</string>
        </dict>
    </dict>
</plist>
