<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_JS_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,514},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,591},{19,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,602},{31,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,679},{31,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,591},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,635},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,893},{31,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,558},{31,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,635},{31,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,893},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_gongXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,591},{344,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{344,116}}</string>
                <key>sourceSize</key>
                <string>{350,122}</string>
            </dict>
            <key>BR_JS_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,587}}</string>
                <key>sourceSize</key>
                <string>{558,587}</string>
            </dict>
            <key>BR_JS_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{301,300}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{301,300}}</string>
                <key>sourceSize</key>
                <string>{305,310}</string>
            </dict>
            <key>BR_JS_huangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,893},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>BR_JS_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,893},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>BR_JS_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,462},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>BR_JS_touxiangguangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,856},{505,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,88}}</string>
                <key>sourceSize</key>
                <string>{509,88}</string>
            </dict>
            <key>BR_JS_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,591},{250,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,73}}</string>
                <key>sourceSize</key>
                <string>{250,73}</string>
            </dict>
            <key>BR_JS_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>BR_JS_xuanzhuanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,462},{394,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,392}}</string>
                <key>sourceSize</key>
                <string>{394,392}</string>
            </dict>
            <key>BR_beijingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{455,458}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{455,458}}</string>
                <key>sourceSize</key>
                <string>{483,458}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_JS.png</string>
            <key>size</key>
            <string>{1019,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7009d96262596a6c49bfc43980c55cf4:1/1$</string>
            <key>textureFileName</key>
            <string>BR_JS.png</string>
        </dict>
    </dict>
</plist>
