<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_guangXiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,521},{42,45}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,200},{42,45}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1813},{170,171}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,139},{170,171}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1813},{232,217}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,116},{232,217}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,330},{300,283}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,92},{300,283}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{326,325}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,60},{326,325}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,615},{376,397}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,24},{376,397}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1578},{446,457}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{446,457}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1353},{458,465}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{458,465}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{470,471}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{470,471}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1533},{484,477}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{484,477}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1091},{496,485}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{496,485}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1040},{508,491}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{508,491}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{522,497}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{522,497}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{534,503}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{534,503}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,527},{546,511}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{546,511}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{558,517}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{558,517}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{572,523}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{572,523}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,529}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,521},{568,507}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{568,507}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
            <key>BR_guangXiao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1014},{352,337}}</string>
                <key>offset</key>
                <string>{27,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,71},{352,337}}</string>
                <key>sourceSize</key>
                <string>{582,529}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_JSGuang.png</string>
            <key>size</key>
            <string>{2047,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2d12d2b8510ae3ccc6a67c4fbdfd642:1/1$</string>
            <key>textureFileName</key>
            <string>BR_JSGuang.png</string>
        </dict>
    </dict>
</plist>
