<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>br_qushi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1005,484}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{1005,484}}</string>
                <key>sourceSize</key>
                <string>{1023,514}</string>
            </dict>
            <key>br_qushi_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,161},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>br_qushi_fangge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,149},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>br_qushi_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>br_qushi_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,84},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>br_qushi_heng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,72},{40,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,9}}</string>
                <key>sourceSize</key>
                <string>{40,9}</string>
            </dict>
            <key>br_qushi_hongdui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,237},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>br_qushi_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,114},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>br_qushi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{101,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,68}}</string>
                <key>sourceSize</key>
                <string>{101,68}</string>
            </dict>
            <key>br_qushi_landui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,161},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>br_qushi_shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,366},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,354},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,302},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,290},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,238},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,226},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>br_qushi_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,418},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>br_qushi_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,418},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>br_qushi_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,72},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>br_qushi_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,366},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>br_qushi.png</string>
            <key>size</key>
            <string>{1206,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a08653dabdbeffd1fc617b66d531022:1/1$</string>
            <key>textureFileName</key>
            <string>br_qushi.png</string>
        </dict>
    </dict>
</plist>
