<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DLbangzhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1410},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLbangzhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1344},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLbangzhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1278},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{646,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,226}}</string>
                <key>sourceSize</key>
                <string>{646,226}</string>
            </dict>
            <key>DLchuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{449,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,74}}</string>
                <key>sourceSize</key>
                <string>{449,74}</string>
            </dict>
            <key>DLclose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1604},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>DLclose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1604},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>DLclose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1604},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>DLgonggao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1212},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLgonggao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1146},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLgonggao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1080},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,519},{324,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,49}}</string>
                <key>sourceSize</key>
                <string>{324,49}</string>
            </dict>
            <key>DLlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{445,233}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{445,233}}</string>
                <key>sourceSize</key>
                <string>{453,233}</string>
            </dict>
            <key>DLmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1535},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
            <key>DLrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,491}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{515,491}}</string>
                <key>sourceSize</key>
                <string>{515,493}</string>
            </dict>
            <key>DLshezhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1014},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLshezhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,948},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLshezhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,882},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>DLxialaBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{293,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,50}}</string>
                <key>sourceSize</key>
                <string>{293,50}</string>
            </dict>
            <key>DLxiala_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1601},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>DLxiala_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1568},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>DLxiala_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1535},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>DLzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1535},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>denglu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1535},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>denglu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1530},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>denglu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1466},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kaishiyouxi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1397},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kaishiyouxi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1328},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kaishiyouxi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1259},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kuaisukaishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1190},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kuaisukaishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1121},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>kuaisukaishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1052},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>qiehuanzhanghao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,983},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>qiehuanzhanghao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,914},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>qiehuanzhanghao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,845},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengLu.png</string>
            <key>size</key>
            <string>{504,1653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8542180d4db3053c034c9bfda7a5d02:1/1$</string>
            <key>textureFileName</key>
            <string>dengLu.png</string>
        </dict>
    </dict>
</plist>
