<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,827},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>back-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,594},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>back-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,500},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>biaoqian_chaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,804},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>biaoqian_rexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,698},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,639}}</string>
                <key>sourceSize</key>
                <string>{1136,639}</string>
            </dict>
            <key>btn-vip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,791},{104,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{104,27}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>btn-vip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,619},{164,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,77}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>btn-vip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,315},{164,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,77}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>btn_zidongshouzhang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,671},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>btn_zidongshouzhang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,530},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>btn_zidongshouzhang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,251},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>c_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{1136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,29}}</string>
                <key>sourceSize</key>
                <string>{1136,29}</string>
            </dict>
            <key>c_jiangjuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,356},{286,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,57}}</string>
                <key>sourceSize</key>
                <string>{288,59}</string>
            </dict>
            <key>c_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{257,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,352}}</string>
                <key>sourceSize</key>
                <string>{257,352}</string>
            </dict>
            <key>c_shangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{1136,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,79}}</string>
                <key>sourceSize</key>
                <string>{1136,79}</string>
            </dict>
            <key>c_xiakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{1136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,84}}</string>
                <key>sourceSize</key>
                <string>{1136,84}</string>
            </dict>
            <key>c_yinliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{282,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,57}}</string>
                <key>sourceSize</key>
                <string>{284,59}</string>
            </dict>
            <key>song.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,644},{210,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{210,32}}</string>
                <key>sourceSize</key>
                <string>{216,32}</string>
            </dict>
            <key>v_shangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{1136,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,79}}</string>
                <key>sourceSize</key>
                <string>{1136,79}</string>
            </dict>
            <key>yb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,791},{126,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,75}}</string>
                <key>sourceSize</key>
                <string>{126,75}</string>
            </dict>
            <key>yb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,698},{137,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,91}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
            <key>yb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,394},{134,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,97}}</string>
                <key>sourceSize</key>
                <string>{134,97}</string>
            </dict>
            <key>yb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,134},{140,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,115}}</string>
                <key>sourceSize</key>
                <string>{140,115}</string>
            </dict>
            <key>yb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,394},{142,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,104}}</string>
                <key>sourceSize</key>
                <string>{142,104}</string>
            </dict>
            <key>yb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{168,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,130}}</string>
                <key>sourceSize</key>
                <string>{168,130}</string>
            </dict>
            <key>yb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,698},{142,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,113}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>yb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,501},{172,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,116}}</string>
                <key>sourceSize</key>
                <string>{172,118}</string>
            </dict>
            <key>yb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,356},{196,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,143}}</string>
                <key>sourceSize</key>
                <string>{196,143}</string>
            </dict>
            <key>youxichongzhi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,501},{116,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{116,27}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>youxichongzhi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,813},{164,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,77}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
            <key>youxichongzhi-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,619},{164,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,77}}</string>
                <key>sourceSize</key>
                <string>{164,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongZhi.png</string>
            <key>size</key>
            <string>{1640,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eebe26814eb5b84ce03be8a6f31fa0e5:1/1$</string>
            <key>textureFileName</key>
            <string>chongZhi.png</string>
        </dict>
    </dict>
</plist>
