<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhi_vip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,793},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>chongzhi_vip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,764},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,965},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,735},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,965},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,706},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,965},{69,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>chongzhi_vip-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,965},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>chongzhi_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,706},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,354},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,354},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>chongzhi_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>nengliangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,822},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>nengliangtiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{411,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,34}}</string>
                <key>sourceSize</key>
                <string>{411,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongzhiVIP.png</string>
            <key>size</key>
            <string>{779,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add99f91d055d6bcdf22bcc04021bd59:1/1$</string>
            <key>textureFileName</key>
            <string>chongzhiVIP.png</string>
        </dict>
    </dict>
</plist>
