<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1102},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,588},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,798},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,588},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,798},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,212},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,588},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>btn-cxlj.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,422},{107,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,29}}</string>
                <key>sourceSize</key>
                <string>{107,29}</string>
            </dict>
            <key>btn-fhdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1163},{107,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,29}}</string>
                <key>sourceSize</key>
                <string>{107,29}</string>
            </dict>
            <key>btn-fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1163},{107,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,29}}</string>
                <key>sourceSize</key>
                <string>{107,29}</string>
            </dict>
            <key>btn_gonggao_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,865},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>btn_gonggao_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,810},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>buchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1163},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>ckgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,582},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>djqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,639},{106,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,30}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>gaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1008},{111,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>gonggaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{774,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,573}}</string>
                <key>sourceSize</key>
                <string>{774,573}</string>
            </dict>
            <key>guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1015},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,928},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guanbi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1084},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jixugengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1163},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>ljgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1163},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>lxkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,531},{106,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,30}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>meirijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,422},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>meizhoujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,747},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,690},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>tanChuCeng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,584}}</string>
                <key>sourceSize</key>
                <string>{944,584}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,920},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>yiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,798},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>yqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1102},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
            <key>zanbugengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1163},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GongYong.png</string>
            <key>size</key>
            <string>{1021,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b2a17aa40845768a10b13ecbea5e5a:1/1$</string>
            <key>textureFileName</key>
            <string>GongYong.png</string>
        </dict>
    </dict>
</plist>
