<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JC_jcxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1636},{217,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,44}}</string>
                <key>sourceSize</key>
                <string>{217,44}</string>
            </dict>
            <key>JC_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{845,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,348}}</string>
                <key>sourceSize</key>
                <string>{845,348}</string>
            </dict>
            <key>SZ_bjkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{822,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,321}}</string>
                <key>sourceSize</key>
                <string>{822,321}</string>
            </dict>
            <key>SZ_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1547},{111,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>SZ_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,702},{111,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>SZ_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,562},{138,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,43}}</string>
                <key>sourceSize</key>
                <string>{138,43}</string>
            </dict>
            <key>TS_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,853},{692,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,404}}</string>
                <key>sourceSize</key>
                <string>{692,404}</string>
            </dict>
            <key>TS_bjkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{599,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,177}}</string>
                <key>sourceSize</key>
                <string>{599,177}</string>
            </dict>
            <key>TS_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1601},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>XTXX_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1787},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>XTXX_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,830},{64,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,21}}</string>
                <key>sourceSize</key>
                <string>{64,21}</string>
            </dict>
            <key>XTXX_qbsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1679},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>XTXX_xitongxiaoxi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{849,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,368}}</string>
                <key>sourceSize</key>
                <string>{849,368}</string>
            </dict>
            <key>XTXX_xxzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1588},{228,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,46}}</string>
                <key>sourceSize</key>
                <string>{228,46}</string>
            </dict>
            <key>btn-gdxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1647},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>btn_jiangchi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1717},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_jiangchi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1683},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_jiangchi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1801},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1679},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>dianhuahaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1547},{276,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,39}}</string>
                <key>sourceSize</key>
                <string>{276,39}</string>
            </dict>
            <key>jc_jiangchijine.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,826},{114,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,25}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>jc_shuziBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1849},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>laba_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1601},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>laba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1647},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>laba_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{558,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,39}}</string>
                <key>sourceSize</key>
                <string>{558,39}</string>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1742},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>xian(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{372,826},{267,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,2}}</string>
                <key>sourceSize</key>
                <string>{267,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jc_sz_ts_xt.png</string>
            <key>size</key>
            <string>{758,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e0dc1686c78ccb23a07bbcc1e7b536:1/1$</string>
            <key>textureFileName</key>
            <string>jc_sz_ts_xt.png</string>
        </dict>
    </dict>
</plist>
