<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LB_bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1519},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1519},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{679,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,377}}</string>
                <key>sourceSize</key>
                <string>{679,377}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{1136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,120}}</string>
                <key>sourceSize</key>
                <string>{1136,120}</string>
            </dict>
            <key>btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1190},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1140},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>btn3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1290},{250,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,73}}</string>
                <key>sourceSize</key>
                <string>{250,73}</string>
            </dict>
            <key>btn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1215},{250,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,73}}</string>
                <key>sourceSize</key>
                <string>{250,73}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1346},{245,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,62}}</string>
                <key>sourceSize</key>
                <string>{245,62}</string>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1499},{245,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,62}}</string>
                <key>sourceSize</key>
                <string>{245,62}</string>
            </dict>
            <key>chaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1140},{250,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,73}}</string>
                <key>sourceSize</key>
                <string>{250,73}</string>
            </dict>
            <key>chenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1432},{258,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,65}}</string>
                <key>sourceSize</key>
                <string>{258,65}</string>
            </dict>
            <key>duihuanma.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1561},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1240},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1519},{5,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,38}}</string>
                <key>sourceSize</key>
                <string>{5,38}</string>
            </dict>
            <key>jindutiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1519},{500,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,40}}</string>
                <key>sourceSize</key>
                <string>{500,40}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1240},{233,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,46}}</string>
                <key>sourceSize</key>
                <string>{233,46}</string>
            </dict>
            <key>lingQu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{1136,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,240}}</string>
                <key>sourceSize</key>
                <string>{1136,240}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1365},{258,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,65}}</string>
                <key>sourceSize</key>
                <string>{258,65}</string>
            </dict>
            <key>top (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{1136,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,79}}</string>
                <key>sourceSize</key>
                <string>{1136,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liBaoLingQu.png</string>
            <key>size</key>
            <string>{1089,1596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57622e5cdbdedb282447a4a0376ec6bd:1/1$</string>
            <key>textureFileName</key>
            <string>liBaoLingQu.png</string>
        </dict>
    </dict>
</plist>
