<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenxiangTu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>mrfx_mrfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,272},{230,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,47}}</string>
                <key>sourceSize</key>
                <string>{230,47}</string>
            </dict>
            <key>mrfx_qqfenxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,445},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_qqfenxiang1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,445},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_qqfenxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_qqfenxiang3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,385},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weibo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,385},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weibo1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,385},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weibo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weibo3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weixin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weixin1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weixin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,212},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_weixin3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrfx_wenben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{711,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,59}}</string>
                <key>sourceSize</key>
                <string>{711,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meirifenxiang.png</string>
            <key>size</key>
            <string>{842,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c7d5b8359dc4cca796a8c1829aabdd:1/1$</string>
            <key>textureFileName</key>
            <string>meirifenxiang.png</string>
        </dict>
    </dict>
</plist>
