<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,443},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>VIP0_.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,443},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_bjkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,275}}</string>
                <key>sourceSize</key>
                <string>{844,275}</string>
            </dict>
            <key>mrqd_bjkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{844,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,74}}</string>
                <key>sourceSize</key>
                <string>{844,74}</string>
            </dict>
            <key>mrqd_gold1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,414},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,428},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,365},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,365},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,365},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,430},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,355},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,368},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,368},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,368},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,368},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,290},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,290},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,206},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,206},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,122},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,122},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,206},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,428},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,122},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_gold7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>mrqd_liaojieVIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,449},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>mrqd_qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,368},{214,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,44}}</string>
                <key>sourceSize</key>
                <string>{214,44}</string>
            </dict>
            <key>mrqd_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,443},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,443},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,443},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,472},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,472},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,414},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,460},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip4_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,336},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip5_.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,449},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,472},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip6_.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,313},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip7_.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,449},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,472},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vip8_.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,414},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>mrqd_vvip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,290},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>qd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,62},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>qd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>qd_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>tiao_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{755,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,11}}</string>
                <key>sourceSize</key>
                <string>{755,11}</string>
            </dict>
            <key>tiao_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{109,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,11}}</string>
                <key>sourceSize</key>
                <string>{109,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meiriqiandao_new.png</string>
            <key>size</key>
            <string>{1073,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecde593e283a1745dd3116b42160a51d:1/1$</string>
            <key>textureFileName</key>
            <string>meiriqiandao_new.png</string>
        </dict>
    </dict>
</plist>
