<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mrcz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,284}}</string>
                <key>sourceSize</key>
                <string>{204,284}</string>
            </dict>
            <key>mrcz_btn_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>mrcz_btn_lqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,287},{102,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>mrcz_btn_mrcz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,288},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrcz_btn_mrcz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,288},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrcz_btn_mrcz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>mrcz_btn_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,432},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>mrcz_bx00.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,191},{142,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,94}}</string>
                <key>sourceSize</key>
                <string>{142,94}</string>
            </dict>
            <key>mrcz_bx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,288},{142,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,94}}</string>
                <key>sourceSize</key>
                <string>{142,94}</string>
            </dict>
            <key>mrcz_bx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,287},{142,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>mrcz_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{187,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,57}}</string>
                <key>sourceSize</key>
                <string>{187,57}</string>
            </dict>
            <key>mrcz_rycz.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{179,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,58}}</string>
                <key>sourceSize</key>
                <string>{179,58}</string>
            </dict>
            <key>mrcz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{261,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,43}}</string>
                <key>sourceSize</key>
                <string>{261,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mrcz_plist.png</string>
            <key>size</key>
            <string>{409,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80cb37f42e6e29070fa3e53f889ce579:1/1$</string>
            <key>textureFileName</key>
            <string>mrcz_plist.png</string>
        </dict>
    </dict>
</plist>
