<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paihang_dianjlignqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,256},{128,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{128,34}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>paihang_ditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{180,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,192}}</string>
                <key>sourceSize</key>
                <string>{184,196}</string>
            </dict>
            <key>paihang_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,501},{180,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,192}}</string>
                <key>sourceSize</key>
                <string>{184,196}</string>
            </dict>
            <key>paihang_ditu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{180,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,192}}</string>
                <key>sourceSize</key>
                <string>{184,196}</string>
            </dict>
            <key>paihang_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,287},{212,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,225}}</string>
                <key>sourceSize</key>
                <string>{212,225}</string>
            </dict>
            <key>paihang_lijichongzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{231,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{231,69}}</string>
                <key>sourceSize</key>
                <string>{231,71}</string>
            </dict>
            <key>paihang_lijichongzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{231,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{231,69}}</string>
                <key>sourceSize</key>
                <string>{231,71}</string>
            </dict>
            <key>paihang_lijichongzhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{231,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{231,69}}</string>
                <key>sourceSize</key>
                <string>{231,71}</string>
            </dict>
            <key>paihang_mrcz_btn_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,47},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>paihang_mrcz_btn_lqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,152},{102,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>paihang_mrcz_btn_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,851},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>paihang_mrcz_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,584},{187,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,57}}</string>
                <key>sourceSize</key>
                <string>{187,57}</string>
            </dict>
            <key>paihang_mrcz_rycz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,403},{179,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,58}}</string>
                <key>sourceSize</key>
                <string>{179,58}</string>
            </dict>
            <key>paihang_mrcz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,43}}</string>
                <key>sourceSize</key>
                <string>{261,43}</string>
            </dict>
            <key>paihang_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{212,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,225}}</string>
                <key>sourceSize</key>
                <string>{212,225}</string>
            </dict>
            <key>paihang_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,73},{212,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,225}}</string>
                <key>sourceSize</key>
                <string>{212,225}</string>
            </dict>
            <key>paihang_xianshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,851},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>paihang_xianshi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>paihang_xianshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,631},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>paihang_xianshi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,501},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>paihang_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{142,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{142,82}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Paihangchongchi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c73b5c5f0e37cc527e797541a1213a54:1/1$</string>
            <key>textureFileName</key>
            <string>Paihangchongchi.png</string>
        </dict>
    </dict>
</plist>
