<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ljcz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{240,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,68}}</string>
                <key>sourceSize</key>
                <string>{240,68}</string>
            </dict>
            <key>btn_ljcz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,244},{240,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,68}}</string>
                <key>sourceSize</key>
                <string>{240,68}</string>
            </dict>
            <key>btn_ljcz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{240,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,68}}</string>
                <key>sourceSize</key>
                <string>{240,68}</string>
            </dict>
            <key>shouChongbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{770,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,466}}</string>
                <key>sourceSize</key>
                <string>{770,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouChong.png</string>
            <key>size</key>
            <string>{914,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d06450b715f07254e183f613152a9420:1/1$</string>
            <key>textureFileName</key>
            <string>shouChong.png</string>
        </dict>
    </dict>
</plist>
