<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_LingQu.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,30},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>VIP_btnTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>VIP_btnTile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,30},{88,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,29}}</string>
                <key>sourceSize</key>
                <string>{88,29}</string>
            </dict>
            <key>VIP_cellBg(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{259,987},{195,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,255}}</string>
                <key>sourceSize</key>
                <string>{195,255}</string>
            </dict>
            <key>VIP_cellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{195,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,255}}</string>
                <key>sourceSize</key>
                <string>{195,255}</string>
            </dict>
            <key>VIP_dianjilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,30},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>VIP_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>VIP_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,47},{548,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,43}}</string>
                <key>sourceSize</key>
                <string>{548,43}</string>
            </dict>
            <key>VIP_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,26}}</string>
                <key>sourceSize</key>
                <string>{478,26}</string>
            </dict>
            <key>VIP_vip-0 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,844},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,829},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-1 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,701},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,686},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-3 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,543},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,543},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-4 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,400},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-5 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,381},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-6 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{303,257},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,223},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-7 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,114},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-8 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,65},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>VIP_vip-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VIP_LingQu_Tu.png</string>
            <key>size</key>
            <string>{511,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e4c33e60e46422c048f9b54d2d6e9e:1/1$</string>
            <key>textureFileName</key>
            <string>VIP_LingQu_Tu.png</string>
        </dict>
    </dict>
</plist>
