<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JR_btn-ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,707},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>JR_guoQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,837},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>JR_jinQingQiDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,515},{190,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,41}}</string>
                <key>sourceSize</key>
                <string>{190,41}</string>
            </dict>
            <key>JR_juJeShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{511,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,41}}</string>
                <key>sourceSize</key>
                <string>{511,41}</string>
            </dict>
            <key>JR_juKaiShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,41}}</string>
                <key>sourceSize</key>
                <string>{511,41}</string>
            </dict>
            <key>JR_keLingQu.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,944},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>JR_quChongZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,944},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>JR_vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1925},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>JR_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1823},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>JR_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>JR_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>JR_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>JR_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1619},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>JR_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>JR_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>JR_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>JR_zhongQiuLiBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,837},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>JR_ziti-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{588,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,25}}</string>
                <key>sourceSize</key>
                <string>{588,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xianShiLiBao_JR.png</string>
            <key>size</key>
            <string>{98,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c34d73a3438d56757e2bfaeb82198c6:1/1$</string>
            <key>textureFileName</key>
            <string>xianShiLiBao_JR.png</string>
        </dict>
    </dict>
</plist>
