<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,56},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>baoxiang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>shanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zaiXianFaGuang.png</string>
            <key>size</key>
            <string>{213,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2a818c362fceb079b225ced000060f:1/1$</string>
            <key>textureFileName</key>
            <string>zaiXianFaGuang.png</string>
        </dict>
    </dict>
</plist>
