<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,136},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,69},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_back_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_check_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,154},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_check_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,78},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_check_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_chongzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,401},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_chongzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,401},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_chongzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,401},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_gift_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,230},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>btn_gift_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,306},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>btn_gift_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,230},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,399},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>btn_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,313},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>btn_help_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,313},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>btn_list_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,382},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_list_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,416},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_list_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>btn_message_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,390},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_message_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,313},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_message_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,390},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_screenshot_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,313},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_screenshot_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,390},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_screenshot_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,313},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_shangcheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,401},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_shangcheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,313},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_shangcheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,401},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_shezhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,313},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_shezhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,401},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_shezhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,313},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>btn_yinhang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,313},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>btn_yinhang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,313},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>btn_yinhang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,313},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,306},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,333},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>jb_jqc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xuanchang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{229,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,309}}</string>
                <key>sourceSize</key>
                <string>{229,309}</string>
            </dict>
            <key>xuanchang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{229,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,309}}</string>
                <key>sourceSize</key>
                <string>{229,309}</string>
            </dict>
            <key>xuanchang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{229,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,309}}</string>
                <key>sourceSize</key>
                <string>{229,309}</string>
            </dict>
            <key>xuanchang-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,309}}</string>
                <key>sourceSize</key>
                <string>{229,309}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameHallScene.png</string>
            <key>size</key>
            <string>{1080,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d42bba2e8d878fbde7e1bc7346765a40:1/1$</string>
            <key>textureFileName</key>
            <string>GameHallScene.png</string>
        </dict>
    </dict>
</plist>
