<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Second_Lgold00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,487},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,407},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,407},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,390},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold07.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,293},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold09.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,196},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold11.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,99},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold13.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold15.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Lgold16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>Second_Mgold00.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1207},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1263},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1263},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1263},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1263},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1634},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold06.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1263},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold07.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1166},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold08.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1166},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Mgold09.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1166},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>Second_Rgold00.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1166},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1166},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1069},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,972},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold07.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,875},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1207},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold10.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,812},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,812},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,778},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold14.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,681},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
            <key>Second_Rgold16.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,584},{393,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,95}}</string>
                <key>sourceSize</key>
                <string>{393,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Second_GoldFlash.png</string>
            <key>size</key>
            <string>{1006,1731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4475797cc5e65e916c44582e6d378a07:1/1$</string>
            <key>textureFileName</key>
            <string>Second_GoldFlash.png</string>
        </dict>
    </dict>
</plist>
