<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Second_bet_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1140},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>Second_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Second_diezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1506},{129,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,40}}</string>
                <key>sourceSize</key>
                <string>{129,40}</string>
            </dict>
            <key>Second_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,80},{1050,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,103}}</string>
                <key>sourceSize</key>
                <string>{1050,103}</string>
            </dict>
            <key>Second_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>Second_jiluDaFlash.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1363},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jiluDaNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1320},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jiluHeFlash.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1288},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jiluHeNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1245},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jiluXiaoFlash.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1477},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jiluXiaoNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1477},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Second_jixu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1245},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_jixu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1398},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_jixu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1245},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_qianshai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1479},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_qianshai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1398},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_qianshai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1422},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_qianshai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1422},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_qianshai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1422},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_qianshai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1205},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>Second_shangshai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1438},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>Second_shangshai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1395},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>Second_shangshai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1245},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>Second_shangshai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1503},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>Second_shangshai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1503},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>Second_shangshai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1205},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>Second_shengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,80},{1136,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,8}}</string>
                <key>sourceSize</key>
                <string>{1136,8}</string>
            </dict>
            <key>Second_shoufen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1245},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_shoufen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1269},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_shoufen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1269},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>Second_yada.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1140},{370,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,103}}</string>
                <key>sourceSize</key>
                <string>{370,103}</string>
            </dict>
            <key>Second_yahe.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1132},{372,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,103}}</string>
                <key>sourceSize</key>
                <string>{372,103}</string>
            </dict>
            <key>Second_yaxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{406,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,103}}</string>
                <key>sourceSize</key>
                <string>{406,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Second_zujian.png</string>
            <key>size</key>
            <string>{759,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcdae5e192a9a94e9a0ebd692233aa38:1/1$</string>
            <key>textureFileName</key>
            <string>Second_zujian.png</string>
        </dict>
    </dict>
</plist>
