<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JF_BaZiZa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1465},{166,222}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,190},{166,222}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{670,636}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{670,636}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{594,594}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,22},{594,594}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1210},{482,484}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,74},{482,484}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1275},{528,360}}</string>
                <key>offset</key>
                <string>{-1,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,52},{528,360}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1278},{632,362}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,50},{632,362}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,346},{754,312}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{754,312}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_BaZiZa_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1696},{254,250}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,193},{254,250}}</string>
                <key>sourceSize</key>
                <string>{754,640}</string>
            </dict>
            <key>JF_bigBaZiZa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1199},{193,264}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,158},{193,264}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{673,636}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,4},{673,636}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{595,594}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,24},{595,594}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,660},{485,548}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,11},{485,548}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,660},{537,414}}</string>
                <key>offset</key>
                <string>{-4,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,8},{537,414}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,640},{633,418}}</string>
                <key>offset</key>
                <string>{1,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,4},{633,418}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{757,342}}</string>
                <key>offset</key>
                <string>{1,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,82},{757,342}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
            <key>JF_bigBaZiZa_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1696},{253,302}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,141},{253,302}}</string>
                <key>sourceSize</key>
                <string>{785,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baZiTeXiao.png</string>
            <key>size</key>
            <string>{2033,1963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84b60b96609db91c3ff07fd1d858ba9:1/1$</string>
            <key>textureFileName</key>
            <string>baZiTeXiao.png</string>
        </dict>
    </dict>
</plist>
