<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JF_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>JF_bigLieWen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,279},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>JF_bigLieWen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,644},{184,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,175}}</string>
                <key>sourceSize</key>
                <string>{184,175}</string>
            </dict>
            <key>JF_diSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{331,38}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,38}}</string>
                <key>sourceSize</key>
                <string>{353,38}</string>
            </dict>
            <key>JF_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,901},{25,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,151}}</string>
                <key>sourceSize</key>
                <string>{25,151}</string>
            </dict>
            <key>JF_liewen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,431},{127,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,109}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>JF_liewen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,124},{153,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,147}}</string>
                <key>sourceSize</key>
                <string>{153,147}</string>
            </dict>
            <key>JF_shengYu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,827},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>JF_shiQu.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,945},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>JF_shiQu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,940},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>JF_shiZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{486,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{486,62}}</string>
                <key>sourceSize</key>
                <string>{490,62}</string>
            </dict>
            <key>JF_xiangFG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>JF_xiangFG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,737},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>JF_xiangFG_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,793},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>JF_xiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,958},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>JF_xiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,958},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>JF_xiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>JF_yiJianTeXiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,799},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>JF_yiJianTeXiao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,703},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>JF_yiJianTeXiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,613},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>JF_yiJianTeXiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,827},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>JF_yiJianTeXiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,821},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>JF_yiJianTeXiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,830},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>JF_yiJianTeXiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,830},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>JF_yiJianTeXiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,613},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>JF_yiJianTeXiao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,821},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>JF_yiJianTeXiao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,707},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bazi-b-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,644},{182,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,261}}</string>
                <key>sourceSize</key>
                <string>{182,261}</string>
            </dict>
            <key>bazi-s-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,644},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>btn-fanhui-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,928},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>btn-fanhui-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,867},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>btn-fanhui-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,945},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>btn-fenxiang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,945},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>btn-fenxiang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,945},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>btn-fenxiang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,945},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>btn-guize-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,796},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>btn-guize-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,950},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>btn-guize-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,950},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>btn-paihangbang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,889},{94,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,73}}</string>
                <key>sourceSize</key>
                <string>{94,73}</string>
            </dict>
            <key>btn-paihangbang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,700},{94,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,73}}</string>
                <key>sourceSize</key>
                <string>{94,73}</string>
            </dict>
            <key>btn-paihangbang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,604},{94,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,73}}</string>
                <key>sourceSize</key>
                <string>{94,73}</string>
            </dict>
            <key>btn_+_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,863},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>btn_+_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,960},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>btn_+_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,964},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>btn_-_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,964},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>btn_-_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,964},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>btn_-_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,901},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>daojishi-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,542},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>daojishi-gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,828},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>daojishi-tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,939},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>faSheTeXiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,928},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>faSheTeXiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,828},{202,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,94}}</string>
                <key>sourceSize</key>
                <string>{202,94}</string>
            </dict>
            <key>faSheTeXiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,317},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,144}}</string>
                <key>sourceSize</key>
                <string>{294,144}</string>
            </dict>
            <key>faSheTeXiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{352,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,120}}</string>
                <key>sourceSize</key>
                <string>{352,120}</string>
            </dict>
            <key>nengLiangTiao_S_JF.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{185,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,15}}</string>
                <key>sourceSize</key>
                <string>{185,15}</string>
            </dict>
            <key>nengLiangTiao_nei_JF.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,630},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>nuJian_gai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,630},{81,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,105}}</string>
                <key>sourceSize</key>
                <string>{81,105}</string>
            </dict>
            <key>nu_fashe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,708},{259,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,191}}</string>
                <key>sourceSize</key>
                <string>{259,191}</string>
            </dict>
            <key>nu_fashe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,124},{271,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,191}}</string>
                <key>sourceSize</key>
                <string>{271,191}</string>
            </dict>
            <key>nu_fashe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{277,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,191}}</string>
                <key>sourceSize</key>
                <string>{277,191}</string>
            </dict>
            <key>paotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,317},{311,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,147}}</string>
                <key>sourceSize</key>
                <string>{311,147}</string>
            </dict>
            <key>shuzhixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,973},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>xueTiao10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,929},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,919},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,913},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,960},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,957},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,944},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,928},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,924},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,941},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,814},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,924},{146,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,13}}</string>
                <key>sourceSize</key>
                <string>{146,13}</string>
            </dict>
            <key>xueTiao5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1006},{146,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,13}}</string>
                <key>sourceSize</key>
                <string>{146,13}</string>
            </dict>
            <key>xueTiao5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,991},{146,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,13}}</string>
                <key>sourceSize</key>
                <string>{146,13}</string>
            </dict>
            <key>xueTiao5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,976},{146,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,13}}</string>
                <key>sourceSize</key>
                <string>{146,13}</string>
            </dict>
            <key>xueTiao5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,798},{147,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,14}}</string>
                <key>sourceSize</key>
                <string>{147,14}</string>
            </dict>
            <key>xueTiao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,935},{146,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,13}}</string>
                <key>sourceSize</key>
                <string>{146,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoDongXiaoYouXi.png</string>
            <key>size</key>
            <string>{1576,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79823671a16614a61d240f6441ed74fe:1/1$</string>
            <key>textureFileName</key>
            <string>huoDongXiaoYouXi.png</string>
        </dict>
    </dict>
</plist>
