<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JFTCC_guize-wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{719,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,207}}</string>
                <key>sourceSize</key>
                <string>{719,207}</string>
            </dict>
            <key>JFTCC_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{895,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,512}}</string>
                <key>sourceSize</key>
                <string>{895,512}</string>
            </dict>
            <key>JFTCC_jiangetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,897},{476,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,32}}</string>
                <key>sourceSize</key>
                <string>{476,32}</string>
            </dict>
            <key>JFTCC_jiangexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,819},{2,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,318}}</string>
                <key>sourceSize</key>
                <string>{2,318}</string>
            </dict>
            <key>JFTCC_paihangbang-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{480,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,404}}</string>
                <key>sourceSize</key>
                <string>{480,404}</string>
            </dict>
            <key>JFTCC_paihangbang-bg-wo.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,897},{476,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,39}}</string>
                <key>sourceSize</key>
                <string>{476,39}</string>
            </dict>
            <key>JFTCC_paihangbang-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{536,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,593}}</string>
                <key>sourceSize</key>
                <string>{536,593}</string>
            </dict>
            <key>JFTCC_wenzi-guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,723},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>JFTCC_wenzi-queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,787},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>JFTCC_wenzi-shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,723},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>JF_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1139},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1462},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1462},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1824},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1764},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1704},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1494},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>JF_guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1375},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>JF_guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,810},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>JF_guanbi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,723},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JF_TCC.png</string>
            <key>size</key>
            <string>{725,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855c13ba6cad74607312a6b4b8d445f8:1/1$</string>
            <key>textureFileName</key>
            <string>JF_TCC.png</string>
        </dict>
    </dict>
</plist>
