<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_helpclose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_helpclose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_helpclose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>dian_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,240},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>dian_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,240},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>help_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,177},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>help_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,114},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>helpbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>helpbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helpBG1.png</string>
            <key>size</key>
            <string>{1342,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa8ac262fb9552b52f80e0f0db84016:1/1$</string>
            <key>textureFileName</key>
            <string>helpBG1.png</string>
        </dict>
    </dict>
</plist>
