<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dj_wan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{145,33}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{145,33}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{129,29}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{129,29}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{91,29}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{91,29}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{91,41}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{91,45}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{91,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{91,37}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>dj_wan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{91,33}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{91,33}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuiJiuAni.png</string>
            <key>size</key>
            <string>{745,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a97deaa5de9493a22ffc5e06b0e2fded:1/1$</string>
            <key>textureFileName</key>
            <string>DuiJiuAni.png</string>
        </dict>
    </dict>
</plist>
