<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bibei_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{179,185}</string>
            </dict>
            <key>di_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>dikuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,113},{79,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{79,69}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>kaishikuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,106},{90,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{90,76}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>zhegai2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{112,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>zhegai_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laoHuJiTeXiao.png</string>
            <key>size</key>
            <string>{508,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e713152ed72a29f91950ce652931486:1/1$</string>
            <key>textureFileName</key>
            <string>laoHuJiTeXiao.png</string>
        </dict>
    </dict>
</plist>
