<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{980,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,9}}</string>
                <key>sourceSize</key>
                <string>{980,9}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{980,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,9}}</string>
                <key>sourceSize</key>
                <string>{980,9}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{980,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,9}}</string>
                <key>sourceSize</key>
                <string>{980,9}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{982,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,319}}</string>
                <key>sourceSize</key>
                <string>{982,319}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{980,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,99}}</string>
                <key>sourceSize</key>
                <string>{980,99}</string>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{982,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,97}}</string>
                <key>sourceSize</key>
                <string>{982,97}</string>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{982,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,167}}</string>
                <key>sourceSize</key>
                <string>{982,167}</string>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{980,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,167}}</string>
                <key>sourceSize</key>
                <string>{980,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SHZ_line.png</string>
            <key>size</key>
            <string>{986,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd7024e3fb9b87f706f35e76c1c07b0:1/1$</string>
            <key>textureFileName</key>
            <string>SHZ_line.png</string>
        </dict>
    </dict>
</plist>
