<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{698,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,32}}</string>
                <key>sourceSize</key>
                <string>{698,32}</string>
            </dict>
            <key>jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,36},{659,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,16}}</string>
                <key>sourceSize</key>
                <string>{659,16}</string>
            </dict>
            <key>shi1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,576},{48,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,364}}</string>
                <key>sourceSize</key>
                <string>{48,364}</string>
            </dict>
            <key>shi1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,572},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,54},{48,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,368}}</string>
                <key>sourceSize</key>
                <string>{48,368}</string>
            </dict>
            <key>shi1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,54},{48,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,368}}</string>
                <key>sourceSize</key>
                <string>{48,368}</string>
            </dict>
            <key>shi2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,522},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,422},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,54},{50,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,368}}</string>
                <key>sourceSize</key>
                <string>{50,368}</string>
            </dict>
            <key>shi3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,524},{50,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,364}}</string>
                <key>sourceSize</key>
                <string>{50,364}</string>
            </dict>
            <key>shi4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,472},{48,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,354}}</string>
                <key>sourceSize</key>
                <string>{48,354}</string>
            </dict>
            <key>shi4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,36},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,472},{50,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,364}}</string>
                <key>sourceSize</key>
                <string>{50,364}</string>
            </dict>
            <key>shi4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,2},{50,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,364}}</string>
                <key>sourceSize</key>
                <string>{50,364}</string>
            </dict>
            <key>shi5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,54},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{50,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,364}}</string>
                <key>sourceSize</key>
                <string>{50,364}</string>
            </dict>
            <key>shi6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,54},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>shi6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,54},{50,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,366}}</string>
                <key>sourceSize</key>
                <string>{50,366}</string>
            </dict>
            <key>shi6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,54},{48,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,366}</string>
            </dict>
            <key>tishiyuxia_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,422},{214,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,23}}</string>
                <key>sourceSize</key>
                <string>{214,23}</string>
            </dict>
            <key>yinzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,424},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaZai.png</string>
            <key>size</key>
            <string>{2010,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d21e36b0a0babe5cc52ce7b6409b793:1/1$</string>
            <key>textureFileName</key>
            <string>jiaZai.png</string>
        </dict>
    </dict>
</plist>
