<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{157,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{157,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{157,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{131,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{131,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{307,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,32},{233,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{233,28}}</string>
                <key>sourceSize</key>
                <string>{307,28}</string>
            </dict>
            <key>tips2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,32},{378,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,28}}</string>
                <key>sourceSize</key>
                <string>{378,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>regengxin_tishiyu.png</string>
            <key>size</key>
            <string>{762,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3961260c06abf559aa07c973a531d9c8:1/1$</string>
            <key>textureFileName</key>
            <string>regengxin_tishiyu.png</string>
        </dict>
    </dict>
</plist>
