<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_Second_heguan_yao00.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,191},{181,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{181,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{181,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{181,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,2},{181,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{181,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{181,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{181,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,181}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{199,181}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,191},{179,173}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{179,173}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,191},{163,169}}</string>
                <key>offset</key>
                <string>{-28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{163,169}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,356},{153,159}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{153,159}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,372},{143,137}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,45},{143,137}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,330},{145,139}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,43},{145,139}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,358},{151,141}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{151,141}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,372},{149,137}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{149,137}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,328},{145,143}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{145,143}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,358},{151,145}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{151,145}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,362},{147,145}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{147,145}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,328},{145,143}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{145,143}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,183},{161,143}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{161,143}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,183},{161,143}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{161,143}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,189},{165,145}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,37},{165,145}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,191},{149,179}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{149,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,366},{143,179}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{143,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,183},{145,179}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{145,179}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao22.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,189},{163,167}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{163,167}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{185,187}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{185,187}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao24.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{187,189}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{187,189}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao25.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{187,189}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{187,189}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao26.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{187,187}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{187,187}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{187,189}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{187,189}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>BR_Second_heguan_yao28.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{185,189}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{185,189}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_heGuanYao.png</string>
            <key>size</key>
            <string>{1755,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924b2a1e1bdff292e4720f1e06283cf8:1/1$</string>
            <key>textureFileName</key>
            <string>BR_heGuanYao.png</string>
        </dict>
    </dict>
</plist>
