<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_Second_heguan_mo00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>BR_Second_heguan_mo07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{181,178}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_heGuanDengDai.png</string>
            <key>size</key>
            <string>{185,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8fe914ad0cc77044da8554aa2fbbd25:1/1$</string>
            <key>textureFileName</key>
            <string>BR_heGuanDengDai.png</string>
        </dict>
    </dict>
</plist>
