<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_touXiang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,102},{83,88}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{83,88}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{85,90}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{85,90}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{93,106}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{93,106}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{95,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{95,106}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,108}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{93,56}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{93,56}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{95,98}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{95,98}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{95,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{95,98}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,94},{77,86}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{77,86}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,173},{79,86}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{79,86}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,112},{69,74}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{69,74}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{71,74}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{71,74}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,187},{67,64}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{67,64}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>BR_touXiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,188},{69,64}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_touXiangXing.png</string>
            <key>size</key>
            <string>{479,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dcbe0780c326c484e7862c7a207e862:1/1$</string>
            <key>textureFileName</key>
            <string>BR_touXiangXing.png</string>
        </dict>
    </dict>
</plist>
