<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_V1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1677},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1634},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1593},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1593},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1960},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1718},{39,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1917},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V7.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1874},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1252},{39,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_V9.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1750},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BR_anNiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1443},{110,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>BR_anNiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1332},{110,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>BR_anNiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1323},{110,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>BR_anNiuShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1834},{170,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,22}}</string>
                <key>sourceSize</key>
                <string>{170,22}</string>
            </dict>
            <key>BR_anNiuShu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{170,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,22}}</string>
                <key>sourceSize</key>
                <string>{170,22}</string>
            </dict>
            <key>BR_daShan.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,414},{284,202}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{284,202}}</string>
                <key>sourceSize</key>
                <string>{310,222}</string>
            </dict>
            <key>BR_dengDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1798},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>BR_dengDaiXiaZhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1079},{120,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,66}}</string>
                <key>sourceSize</key>
                <string>{126,68}</string>
            </dict>
            <key>BR_dengDaiYaoShaiZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{168,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,37}}</string>
                <key>sourceSize</key>
                <string>{168,37}</string>
            </dict>
            <key>BR_diKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{71,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,89}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>BR_diezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1201},{129,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,40}}</string>
                <key>sourceSize</key>
                <string>{129,40}</string>
            </dict>
            <key>BR_dui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1409},{145,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{145,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_dui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1299},{145,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{145,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_dui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1811},{145,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{145,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_dui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1189},{143,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{143,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_dui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1664},{145,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{145,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_dui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1079},{145,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{145,108}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>BR_fanHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1874},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_fanHui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1225},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_geRenZiLiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,739},{264,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,119}}</string>
                <key>sourceSize</key>
                <string>{264,119}</string>
            </dict>
            <key>BR_geRenZiLiaoDi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,618},{264,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,119}}</string>
                <key>sourceSize</key>
                <string>{264,119}</string>
            </dict>
            <key>BR_heShan.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,210},{284,202}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{284,202}}</string>
                <key>sourceSize</key>
                <string>{310,222}</string>
            </dict>
            <key>BR_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1166},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BR_jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,868},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BR_jingZhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1624},{72,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,43}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>BR_mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,93},{111,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,56}}</string>
                <key>sourceSize</key>
                <string>{115,60}</string>
            </dict>
            <key>BR_qianshai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1793},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qianshai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1669},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qianshai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1877},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qianshai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1796},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qianshai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1669},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qianshai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1543},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>BR_qingXiaZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1079},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>BR_quShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1941},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_quShi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1941},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_quXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1005},{159,56}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{159,56}}</string>
                <key>sourceSize</key>
                <string>{167,68}</string>
            </dict>
            <key>BR_quXiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1048},{159,56}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{159,56}}</string>
                <key>sourceSize</key>
                <string>{167,68}</string>
            </dict>
            <key>BR_shangshai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1598},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>BR_shangshai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1793},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>BR_shangshai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1939},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>BR_shangshai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1750},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>BR_shangshai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1209},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>BR_shangshai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1555},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>BR_sheZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,803},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_sheZhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,738},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_shengLiShuZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{220,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,29}}</string>
                <key>sourceSize</key>
                <string>{220,29}</string>
            </dict>
            <key>BR_tongBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1676},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>BR_tongBi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1519},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>BR_waifaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,479},{127,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,73}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>BR_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1846},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>BR_wan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1556},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>BR_wanJiaDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1444},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>BR_wuZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,673},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_wuZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,608},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_wuZuoKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1005},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>BR_xiaZhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1421},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>BR_xiaZhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1519},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>BR_xiaoDa.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,994},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>BR_xiaoHe.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,960},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>BR_xiaoShan.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{288,206}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{288,206}}</string>
                <key>sourceSize</key>
                <string>{310,222}</string>
            </dict>
            <key>BR_xiaoXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,926},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>BR_xiuXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1661},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>BR_xuanzhuanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1299},{33,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,142}}</string>
                <key>sourceSize</key>
                <string>{33,142}</string>
            </dict>
            <key>BR_yaoShangZhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1299},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>BR_yaoShangZhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1201},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>BR_yaoyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,739},{185,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,153}}</string>
                <key>sourceSize</key>
                <string>{185,153}</string>
            </dict>
            <key>BR_yaoyao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,926},{185,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,151}}</string>
                <key>sourceSize</key>
                <string>{185,151}</string>
            </dict>
            <key>BR_yingBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1634},{39,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{39,40}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>BR_yingYin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{767,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,38}}</string>
                <key>sourceSize</key>
                <string>{767,38}</string>
            </dict>
            <key>BR_ziJiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1586},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>BR_ziJiYaZhuDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{195,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,38}}</string>
                <key>sourceSize</key>
                <string>{195,38}</string>
            </dict>
            <key>BR_ziJiYaZhuDi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1958},{131,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{131,38}}</string>
                <key>sourceSize</key>
                <string>{207,38}</string>
            </dict>
            <key>BR_zongYaZhuDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{195,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,38}}</string>
                <key>sourceSize</key>
                <string>{195,38}</string>
            </dict>
            <key>BR_zuoWeiTiShiTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{275,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{275,60}}</string>
                <key>sourceSize</key>
                <string>{285,72}</string>
            </dict>
            <key>BR_zuoXiaDa.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1586},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,76}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>BR_zuoXiaDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1519},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>BR_zuoXiaXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1750},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{44,60}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>BR_zuoxia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,303},{75,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{75,91}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>BR_zuoxia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,210},{75,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{75,91}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>BR_zuoxia_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,396},{75,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{75,81}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_xingZiYuan.png</string>
            <key>size</key>
            <string>{405,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5528107582841768c147a0afc5a8e73:1/1$</string>
            <key>textureFileName</key>
            <string>BR_xingZiYuan.png</string>
        </dict>
    </dict>
</plist>
