<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_Z_baiWan.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,811},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
            <key>BR_Z_dengDai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1363},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>BR_Z_dengDai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1363},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>BR_Z_dengDiaShuZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,818},{148,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,18}}</string>
                <key>sourceSize</key>
                <string>{148,18}</string>
            </dict>
            <key>BR_Z_geRen.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,738},{623,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,51}}</string>
                <key>sourceSize</key>
                <string>{623,51}</string>
            </dict>
            <key>BR_Z_liang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,829},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>BR_Z_liang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,798},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>BR_Z_lieBiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,505}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{734,505}}</string>
                <key>sourceSize</key>
                <string>{778,543}</string>
            </dict>
            <key>BR_Z_qianWan.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,792},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>BR_Z_shuangZhuanQianShuZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,818},{108,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,14}}</string>
                <key>sourceSize</key>
                <string>{108,14}</string>
            </dict>
            <key>BR_Z_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,829},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>BR_Z_woYaoShangZhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,738},{159,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,58}}</string>
                <key>sourceSize</key>
                <string>{159,58}</string>
            </dict>
            <key>BR_Z_woYaoShuangZhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,738},{159,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,58}}</string>
                <key>sourceSize</key>
                <string>{159,58}</string>
            </dict>
            <key>BR_Z_yuanBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,738},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>BR_Z_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,888},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>BR_Z_ziJiShuZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,798},{148,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,18}}</string>
                <key>sourceSize</key>
                <string>{148,18}</string>
            </dict>
            <key>BR_chaHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,834},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_chaHao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,823},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BR_yinLiangShu.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,798},{148,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,18}}</string>
                <key>sourceSize</key>
                <string>{148,18}</string>
            </dict>
            <key>BR_ziJiDiTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{649,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,76}}</string>
                <key>sourceSize</key>
                <string>{649,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_ZhuangLiBie.png</string>
            <key>size</key>
            <string>{509,1389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61f1ac715b709615636141d3d7ba95e3:1/1$</string>
            <key>textureFileName</key>
            <string>BR_ZhuangLiBie.png</string>
        </dict>
    </dict>
</plist>
