<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BR_ziJiYingQi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{174,69}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{174,69}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,73},{162,69}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{162,69}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{252,69}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{252,69}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,164},{258,69}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,32},{258,69}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{306,85}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{306,85}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{312,81}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{312,81}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,77}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{318,77}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,418},{74,77}}</string>
                <key>offset</key>
                <string>{122,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,5},{74,77}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
            <key>BR_ziJiYingQi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,424},{74,79}}</string>
                <key>offset</key>
                <string>{125,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BR_ziJiXing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55cf0147adfce841f3676da668e53cb5:1/1$</string>
            <key>textureFileName</key>
            <string>BR_ziJiXing.png</string>
        </dict>
    </dict>
</plist>
